[Desktop Entry]
Comment=Simple Orchis Dark and GNOME Adwaita inspired theme
Name=wisteriakde
X-KDE-PluginInfo-Author=Ryan Ferreira
X-KDE-PluginInfo-Name=WisteriaKDE
X-KDE-PluginInfo-Email=dev.ryanmferreira@outlook.com
X-KDE-PluginInfo-Version=0.0.4
X-KDE-PluginInfo-License=MIT
